@import '../../scss/mixins';
@import '../../scss/config';

.messages {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__chat-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    overflow-x: auto;
  }

  &__hr {
    margin: 20px 0;
    border-top: 2px solid rgb(50, 100, 109);
  }

  &__send-div {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn-div {
    width: 95%;
  }

  &__icon {
    font-size: 2.5em;
    color: $light;
    margin-left: 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  .messages {
    &__chat-div {
      height: auto;
      justify-content: flex-start;
    }
  }
}
