@import '../../scss/config';

.input {
  width: 100%;
  height: 48px;
  padding: 5px 10px;
  border: 1.5px solid $primary;
  border-radius: $r-small;
  margin: 0px 0px 20px 0px;
  font-size: $t-m-s;
  box-sizing: border-box;
  color: $black;
  outline: none;
}

.label {
  width: 100%;
  text-align: start;
  margin-top: 10px;
  font-family: $nunito;
  font-size: $t-small;
  color: $primary;
}

@media screen and (max-width: 768px) {
  .input {
    height: 55px;
  }
}
