@import '../../scss/config';
@import '../../scss/mixins';

.homepage {
  @include pageBase;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  padding: 0 150px 200px;

  &__nav {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
  }

  &__nav-items {
    color: $white;
    cursor: pointer;
    font-family: $nunito;
    font-size: $t-medium;
    transition: 0.3s ease-in-out;
    font-weight: bold;

    &--dim {
      color: rgb(175, 175, 175);
      font-weight: normal;
    }
  }

  &__hr {
    margin: 0 0 30px;
    border-top: 2px solid $white;
  }

  &__main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &__arrow {
    font-size: $t-medium;
    cursor: pointer;
  }

  &__message {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__message-main {
    width: 75%;
  }

  &__message-sidebar {
    height: 60vh;
    width: 22%;
    background-color: $white;
    border-radius: $r-small;
    overflow-y: auto;
    box-shadow: 0px 1px 3px rgb(100, 100, 100);
  }

  &__sidebar-item {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: $white;
    border-bottom: 1px solid $white;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &--highlight {
      background-color: white;
      color: $black;
    }
  }
  &__chat-title {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: $black;
  }
}

// @media screen and (max-width: 1200px) {
//   .homepage {
//   }
// }
@media screen and (max-width: 1024px) {
  .homepage {
    width: 95%;
    padding: 0;
    &__message-sidebar {
      height: 50vh;
    }
  }
}
@media screen and (max-width: 768px) {
  .homepage {
  }
}

@media screen and (max-width: 600px) {
  .homepage {
    @include pageBaseSmall;
  }
}
