@import '../../scss/config';
@import '../../scss/mixins';

.homepage {
  @include pageBase;
  display: flex;
  flex-direction: column;
  padding: 0 250px 250px 250px;

  &__main {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__arrow {
    font-size: $t-medium;
    cursor: pointer;
  }
}

@media screen and (max-width: 1200px) {
  .homepage {
    padding: 0 200px 250px 200px;
  }
}
@media screen and (max-width: 1024px) {
  .homepage {
    padding: 0 150px 250px 150px;
  }
}
@media screen and (max-width: 768px) {
  .homepage {
    padding: 0 100px 250px 100px;

    &__arrow {
      font-size: 6vw;
    }
  }
}

@media screen and (max-width: 600px) {
  .homepage {
    @include pageBaseSmall;
    padding: 0 0 250px 0;
  }
}
