@import '../../scss/config';
@import '../../scss/mixins';

.homepage {
  @include pageBase;
  height: 100vh;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  padding: 0 150px 300px;

  &__nav {
    width: 100%;
    margin: 5px auto;
    display: flex;
    justify-content: space-around;
  }

  &__nav-items {
    color: $white;
    cursor: pointer;
    font-family: $nunito;
    font-size: $t-medium;
    transition: 0.3s ease-in-out;
    font-weight: bold;

    &--dim {
      color: rgb(175, 175, 175);
      font-weight: normal;
    }
  }

  &__hr {
    margin: 0 0 20px;
    border-top: 2px solid $white;
  }

  &__main {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__arrow {
    font-size: $t-big;
    cursor: pointer;
    color: white;
  }

  &__message {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__message-main {
    width: 75%;
  }

  &__message-sidebar {
    height: 60vh;
    width: 22%;
    background-color: $white;
    border-radius: $r-small;
    overflow-y: auto;
    box-shadow: 0px 1px 3px rgb(100, 100, 100);
  }

  &__sidebar-item {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: $white;
    border-bottom: 1px solid $white;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &--highlight {
      background-color: white;
      color: $black;
    }
  }
  &__chat-title {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: $black;
  }

  &__matches {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .homepage {
    padding: 0 20px;
    margin-top: 170px;

    &__main {
      margin-top: 80px;
      width: 80%;
    }

    &__matches {
      width: 90%;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .homepage {
    width: 100vw;
  }
}

@media screen and (max-width: 450px) {
  .homepage {
    margin-top: 100px;
    padding: 0 10px;
    &__nav-items {
      font-size: $t-small;
    }

    &__main {
      margin-top: 0px;
      width: 100%;
    }

    &__matches {
      width: 95%;
      margin-top: 0px;
    }

    &__arrow {
      font-size: $t-small;
    }
  }
}
