@import './scss/config';
@import './scss/mixins';

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.app {
  max-width: 100vw;
  background-color: $primary;
  box-sizing: border-box;
  overflow: hidden;
}
