body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.app {
  width: 70vw;
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
  .app {
    width: 100vw;
  }
}

@media screen and (max-width: 600px) {
  .app {
    width: 100vw;
  }
}
