@import '../../scss/config';
@import '../../scss/mixins';

.profile-setup {
  @include pageBase;
  min-height: 100vh;
  padding: 100px 0;

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__data {
    width: 60%;
    border-radius: $r-medium;
    display: flex;
    justify-content: space-between;
  }

  &__image {
    width: 30%;
    height: 200px;
    border-radius: 6px 0px 0px 6px;
    object-fit: cover;
    background-color: $white;
  }

  &__info-div {
    width: 65%;
    border-radius: 0 6px 6px 0;
    padding: 10px;
    background-color: $light;
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-family: $nunito;
    color: $black;
    font-size: $t-m-s;
    margin-bottom: 10px;

    &--msg {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      line-height: 1.3;
      margin-bottom: 30px;
    }

    &--big {
      font-size: $t-medium;
      font-weight: bold;
      margin: 10px 0 0 0;
      color: $black;
    }
    &--small {
      font-size: $t-m-s;
      margin: 0 0 15px 0;
      color: $black;
    }
  }

  &__form {
    margin-top: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__heading {
    color: $white;
    text-align: center;
    font-size: $t-medium;
    font-family: $nunito;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__select {
    height: 50px;
  }
  &__label {
    width: 100%;
    text-align: start;
    margin: 10px 0 0 0;
    font-family: $nunito;
    font-size: $t-small;
    color: $light;
  }

  &__btn-div {
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .profile-setup {
    margin-top: 50px;
    &__data {
      width: 80%;
    }

    &__form {
      width: 80%;
    }
  }
}

@media screen and (max-width: 768px) {
  .profile-setup {
    @include pageBaseSmall;
    &__heading {
      font-size: $t-big;
    }

    &__text {
      font-size: $t-small;
      margin-bottom: 5px;

      &--small {
        font-size: $t-m-s;
      }

      &--big {
        margin: 0;
      }

      &--msg {
        width: 95%;
      }
    }

    &__image {
      border-radius: 6px 6px 0px 0px;
      margin-bottom: 10px;
    }

    &__info-div {
      height: 200px;
      padding: 5px 10px;
      justify-content: center;
    }

    &__data {
      width: 100%;
    }

    &__form {
      width: 100%;
    }
  }
}

@media screen and (max-width: 450px) {
  .profile-setup {
    &__heading {
      font-size: $t-medium;
    }
    &__data {
      flex-direction: column;
      align-items: center;
    }

    &__info-div {
      width: 100%;
      border-radius: 6px;
    }

    &__image {
      height: 100px;
      width: 100px;
      border-radius: 6px;
    }
  }
}
