@import '../../scss/config';

.nav {
  width: 100vw;
  height: 100px;
  box-sizing: border-box;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 15em;
  }

  &__profile-div {
    width: 170px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.close {
  font-family: $nunito;
  color: $light;
  cursor: pointer;
}

.content {
  width: 30vw;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: $light;
    margin: 20px 0;
  }

  &__btn-div {
    width: 100%;
    margin-top: 20px;
  }

  &__text {
    width: 100%;
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
    color: $light;
  }

  &__text-link {
    width: 100%;
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
    color: rgb(55, 0, 255);
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    width: 50vw;
  }
}
@media screen and (max-width: 768px) {
  .content {
    width: 80vw;

    &__text {
      size: $t-xl;
    }

    &__text-link {
      size: $t-xl;
    }
  }
}
@media screen and (max-width: 600px) {
  .nav {
    padding: 20px;

    &__logo {
      width: 8em;
    }
  }
  .content {
    width: 90vw;
    &__text {
      size: 6vw;
    }
    &__text-link {
      size: 6vw;
    }
  }
}
