@import '../../scss/config';
@import '../../scss/mixins';

.landing-page {
  @include pageBase;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    font-size: $t-big;
    color: $light;
    margin: 0 0 50px 0px;
  }

  &__text {
    color: $white;
    font-family: $nunito;
    font-size: $t-small;
  }

  &__btn-div {
    width: 20%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .landing-page {
    &__heading {
      font-size: $t-xl;
    }
  }
}

@media screen and (max-width: 600px) {
  .landing-page {
    &__heading {
      font-size: 5vw;
      text-align: center;
    }
  }
}
