@import '../../scss/config';
@import '../../scss/mixins';

.button {
  font-family: $nunito;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &--dark {
    font-size: $t-small;
    border-radius: $r-medium;
    color: $white;
    background-color: $secondary;
    font-weight: 500;
    border: none;
  }
  &--dark:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 1.5px solid $light;
    color: $white;
  }
  &--light {
    font-size: $t-small;
    border-radius: $r-medium;
    color: $black;
    background-color: $light;
    font-weight: 500;
    border: none;
    transition: 0.3s ease-in-out;
  }
  &--light:hover {
    color: $white;
    background-color: rgba(0, 0, 0, 0);
    border: 1.5px solid $white;
  }

  &--nav {
    font-size: $t-small;
    border-radius: $r-small;
    color: $black;
    background-color: $light;
    font-weight: 500;
    border: none;
  }
  &--nav:hover {
    color: $white;
    background-color: rgba(0, 0, 0, 0);
    border: 1.5px solid $white;
  }
}

@media screen and (max-width: 768px) {
  .button {
    height: 55px;
  }
}

@media screen and (max-width: 600px) {
  .button {
  }
}
@media screen and (max-width: 400px) {
  .button {
  }
}
