@import '../../scss/config';
@import '../../scss/mixins';

.button {
  font-family: $nunito;
  padding: 0.5rem;
  margin: 0.5rem;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  &--bg {
    font-size: $t-small;
    border-radius: $r-big;
    background-color: $black;
    color: $white;
    height: 50px;
    border: 0.1em solid $black;
  }
  &--bg:hover {
    border-color: rgba(255, 255, 255, 1);
    font-weight: bold;
  }

  &--md {
    font-size: $t-small;
    border-radius: $r-medium;
    color: black;
    background-color: $primary;
    height: 50px;
    font-weight: 500;
    border: 0.05em solid $black;
  }
  &--md:hover {
    border-color: rgba(255, 255, 255, 1);
    font-weight: bold;
  }
  &--sm {
    font-size: $t-medium;
    text-transform: uppercase;
    border-radius: $r-small;
    color: $black;
    background-color: $light;
    height: 60px;
    font-weight: bold;
    border: 0.05em solid $black;
  }
  &--sm:hover {
    border-color: rgba(255, 255, 255, 1);
  }
}
