@import '../../scss/config';
@import '../../scss/mixins';

.jobcard {
  width: 100%;
  background-color: white;
  margin: 0 25px;
  box-shadow: $sh-big;
  border-radius: $r-big;
  // box-sizing: border-box;

  &__main {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__job-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  &__avatar {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
    background-color: $white;
    margin-right: 20px;
    box-shadow: 0px 0px 3px rgba(97, 97, 97, 0.829);
  }
  &__company {
    width: 60%;
    margin: 10px 0px 0px;
    font-size: $t-medium;
    font-weight: bold;
    color: $black;
  }

  &__skills {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__text {
    margin: 0;

    &--position {
      width: 100%;
      margin-top: 20px;
      text-align: left;
      font-weight: bold;
      font-size: $t-small;
    }

    &--location {
      font-size: $t-m-s;
    }

    &--seniority {
      width: 100%;
      text-align: start;
      font-size: $t-m-s;
      padding-bottom: 1rem;
    }

    &--skill {
      font-size: $t-m-s;
      font-weight: bold;
      color: $black;
      font-style: italic;
    }

    &--description {
      max-height: 150px;
      overflow-y: auto;
      text-overflow: ellipsis;
      padding-top: 1rem;
      font-size: $t-m-s;
    }
  }

  &__deadline {
    width: 100%;
    text-align: start;
    font-size: $t-m-s;
    padding-top: 1.2rem;
    margin: 0;
  }

  &__icons {
    padding: 1.2rem 1rem;
    display: flex;
    border-radius: 0px 0px 6px 6px;
    justify-content: space-around;
    background-color: $white;
  }

  &__icon {
    font-size: $t-big;
    color: $primary;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}

@media screen and (max-width: 1024px) {
  .jobcard {
    &__main {
      padding: 20px 30px;
    }

    &__text {
      &--description {
        padding: 0 15px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .jobcard {
    margin: 0 5px;
    &__main {
      padding: 10px 15px;
    }
    &__avatar {
      width: 60px;
      height: 60px;
    }
    &__skills {
      margin-bottom: 10px;
    }

    &__company {
      width: 100%;
      font-size: $t-m-s;
    }

    &__text {
      &--position {
        font-size: $t-m-s;
      }

      &--skill {
        font-size: $t-x-s;
      }
    }
  }
}
