@import '../../scss/config';

.textarea {
  width: 100%;
  padding: 5px 10px;
  border: 1.5px solid $primary;
  border-radius: $r-small;
  margin: 10px 0px;
  font-size: $t-m-s;
  color: $black;
}

.label {
  width: 100%;
  text-align: start;
  margin-top: 10px;
  font-family: $nunito;
  font-size: $t-small;
  color: $light;
}