@import '../../scss/config';
@import '../../scss/mixins';

.dropdown {
  width: 150px;

  &__item {
    height: 40px;
    border-radius: 0px 0 6px 6px;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $white;
    }

    &--top {
      border-radius: 6px 6px 0 0;
    }
  }

  &__text {
    margin: 0;
  }

  &__icon {
    margin: 0 10px;
    font-size: $t-small;
    color: $primary;
  }
}

@media screen and (max-width: 768px) {
  .dropdown {
    right: 6vw;
    &__edit,
    &__logout {
      &:after,
      &:before {
        content: ' ';
      }
      &:after {
        border-top: 2px solid black;
        border-left: 2px solid black;
      }
      &:before {
        border-bottom: 2px solid black;
        border-right: 2px solid black;
      }
      &:hover {
        &:before,
        &:after {
          width: 96%;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .dropdown {
    &__edit,
    &__logout {
      &:after,
      &:before {
        content: ' ';
        width: 5px;
        height: 5px;
      }
    }
    &__text {
      padding-right: 1rem;
    }
  }
}
