@import '../../scss/config';
@import '../../scss/mixins';

.profDropDn {
  box-sizing: border-box;
  position: absolute;
  top: 10%;
  right: 18vw;
  width: 20%;
  font-family: $nunito;
  font-size: $t-small;
  &__edit,
  &__logout {
    width: 100%;
    display: inline-flex;
    padding: 0.5rem;
    background-color: $primary;
    justify-content: space-around;
    &__text {
      padding: 0.1rem 0 0 0;
    }
  }
  &__logout {
    background-color: $light;
  }
}

@media screen and (max-width: 768px) {
  .profDropDn {
    right: 6vw;
  }
}
