@import '../../scss/config';
@import '../../scss/mixins';

.match {
  width: 100%;
  height: 100px;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $r-medium;
  margin: 10px 0;

  &--super {
    background-image: url('../../Assets/love.png');
    background-repeat: no-repeat;
    background-position: bottom;
  }

  &__item {
    margin-right: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    &--text {
      padding: 10px 0px;
      margin: 0 30px 0 0;
    }

    &--icons {
      margin: 0 10px 0 0;
    }
  }

  &__image {
    width: 100px;
    height: 100px;
    background-color: $white;
    object-fit: cover;
    border-radius: 6px 0 0 6px;
    border-right: 1px solid grey;
  }

  &__bold-text {
    font-size: $t-m-s;
    font-weight: bold;
    margin: 0;
  }

  &__normal-text {
    font-size: $t-x-s;
    margin: 0;
  }

  &__icon {
    font-size: $t-small;
    color: $primary;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 450px) {
  .match {
    height: 120px;
    position: relative;

    &__image {
      height: 100px;
    }

    &__item {
      margin-right: 5px;
      &--text {
        padding: 5px 0;
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .match {
    &__image {
      display: none;
    }
  }
}
