@import '../../scss/config';
@import '../../scss/mixins';

.profile-registration {
  @include pageBase;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 100px;

  &__form {
    padding: 0, 5%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  &__heading {
    color: $white;
    font-size: $t-medium;
    font-family: $nunito;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__error {
    margin: 0;
    color: #be4040;
  }

  &__error-hidden {
    margin: 0;
    opacity: 0;
  }

  &__btn-div {
    width: 100%;
    margin-top: 30px;
  }
}
.close {
  font-family: $nunito;
  color: #c4c4c4;
  cursor: pointer;
}

.registration-modal {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
    font-size: $t-medium;
    color: #c4c4c4;
    margin: 20px 0;
  }

  &__btn-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  &__skip {
    margin: 0;
    font-size: $t-small;
    color: #def2f1;
    cursor: pointer;
  }
  &__btn-seperator {
    width: 150px;
  }

  &__text {
    width: 100%;
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
    color: $white;
  }

  &__text-link {
    width: 100%;
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
    color: rgb(129, 205, 255);
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  .profile-registration {
    &__form {
      width: 50%;
    }
  }
}

@media screen and (max-width: 768px) {
  .profile-registration {
    &__heading {
      font-size: $t-big;
    }
    &__form {
      width: 100%;
    }
  }
  .registration-modal {
    width: 95vw;
    padding: 10px;

    &__title {
      font-size: 1em;
    }
    &__btn-seperator {
      width: 100px;
    }
  }
}

@media screen and (max-width: 600px) {
  .profile-registration {
    @include pageBaseSmall;
    &__heading {
      font-size: 6vw;
    }
  }
  .registration-modal {
    width: 90vw;
    &__text {
      size: 6vw;
    }
    &__text-link {
      size: 6vw;
    }
  }
}
