@import '../../scss/config';
@import '../../scss/mixins';

.landing-page {
  @include pageBase;
  height: 100vh;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    font-size: $t-xl;
    color: $light;
    margin: 100px 0 40px 0px;
  }

  &__text {
    width: 60%;
    text-align: center;
    color: $white;
    font-family: $nunito;
    font-size: $t-medium;
  }

  &__btn-div {
    margin-top: 15px;
    width: 20%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1024px) {
  .landing-page {
    height: 100vh;

    &__btn-div {
      width: 40%;
    }

    &__text {
      font-size: $t-big;
    }
  }
}
@media screen and (max-width: 768px) {
  .landing-page {
    &__btn-div {
      width: 90%;
      height: 300px;
    }
  }
}

@media screen and (max-width: 600px) {
  .landing-page {
    @include pageBaseSmall;
    margin: 50px auto;
    &__heading {
      // font-size: 5vw;
      text-align: center;
    }
  }
}

@media screen and (max-width: 400px) {
  .landing-page {
    @include pageBaseSmall;

    &__heading {
      font-weight: bold;
      text-align: center;
    }
    &__btn-div {
      width: 90%;
    }
    &__text {
      width: 90%;
      font-size: 5vw;
    }
  }
}
