@import '../../scss/config';
@import '../../scss/mixins';

.matched-job {
  font-family: $nunito;
  padding: 0;
  min-height: 124px;
  width: 100%;
  background: #DEF2F1;
  border: none;
  box-sizing: border-box;
  color: black;
  margin: 15px;
  .button--full-height{
    height: 50%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -45%);
  }
  .col-box{
    background: #3AAFA9;
    border-radius: 6px 0px 0px 6px;
    border-color: transparent;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .square:before{
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
  }
  .last-col{
    border-radius: 0px 6px 6px 0px;
    border-right: 1px solid #000000;
    margin-right: 5px;
  }
  .col-content{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    .inner-container{
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      .row{
        height: 50%;
        align-items: flex-end;
        .job-title{
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 35px;
          color: #000000;
          margin-top: 10px;
          @media (min-width: 767px) and (max-width:1024px) {
            font-size: 22px;
            line-height: 30px;
          }
          @media (max-width: 768px) {
            font-size: 21px;
            line-height: 30px;
          }
        }
        .company-name{
          font-style: normal;
          font-weight: normal;
          font-size: 25px;
          line-height: 30px;
          color: #000000;
          @media (min-width: 767px) and (max-width:1024px) {
            font-size: 23px;
            line-height: 28px;
          }
          @media (max-width: 768px) {
            font-size: 18px;
            line-height: 25px;
          }

        }
        .location{
          font-style: normal;
          font-weight: normal;
          font-size: 25px;
          line-height: 30px;
          color: #000000;
          @media (min-width: 767px) and (max-width:1024px) {
            font-size: 23px;
            line-height: 28px;
          }
          @media (max-width: 768px) {
            font-size: 18px;
            line-height: 25px;
          }
        }
        .job-position-level{
          font-style: normal;
          font-weight: normal;
          font-size: 25px;
          line-height: 30px;
          color: #000000;
          @media (min-width: 767px) and (max-width:1024px) {
            font-size: 23px;
            line-height: 28px;
          }
          @media (max-width: 768px) {
            font-size: 18px;
            line-height: 25px;
          }
        }
      }
    }
  }
}
