@import '../../scss/config';




//mobile first
.employee{
    width: 100%;
    height: auto;
}

.employee__main {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
    p {
        margin-bottom: 1rem;
    }

    .employee__image {
        &--big {
            width: 200px;
            height: auto;
            margin-bottom: 1rem;
            vertical-align: top;
        }
    }
    .employee__content{
        padding-left: 2rem;

    .employee__main--btn {
        display: flex;
        justify-content: flex-end;
    }
    .employee__btn-div {
        font-size: 1.2rem;
        margin: 0 auto;
        width: 30%;
    }
    
    }
}

@include breakpoint(768px){
    .employee__main {
        flex-direction: row;
        align-items: flex-start;
        min-height: 100vh;   
        margin-top: 7em;
        
        &__content{
            width: 50%;
            padding: 1rem;
        }
        &__btn-div{
            width: auto;
            margin: 1px;
        }   
    }
    
}
