// @import './scss/config';
// @import './scss/mixins';

// body {
//   margin: 0px;
//   padding: 0px;
//   box-sizing: border-box;
// }

// .app {
//   max-width: 100vw;
//   box-sizing: border-box;
//   overflow: hidden;
//   background: url('./Assets/background3.png');
//   background-color: $primary;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-attachment: fixed;
//   background-size: contain;
// }

// @media screen and (max-width: 1024px) {
//   .app {
//     background-image: none;
//   }
// }

@import './scss/config';
@import './scss/mixins';

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.app {
  max-width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  background: url('./Assets/background3.png');
  background-color: $primary;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
