@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');

@import './mixins';

// colors

$primary: #17252a;
$secondary: #3aafa9;
$light: #def2f1;
$black: #333;
$white: #f2f2f2;

//Fonts
$nunito: 'Nunito', sans-serif;

// $radius
$r-small: 4px;
$r-medium: 6px;
$r-big: 12px;

//texts size

$t-x-s: 0.8rem;
$t-m-s: 1rem;
$t-small: 1.5rem;
$t-medium: 1.8rem;
$t-big: 2rem;
$t-xl: 2.2rem;

//Shadow

$sh-big: 0px 2px 8px rgba(0, 0, 0, 0.822);
$sh-small: 0px 1px 3px rgba(0, 0, 0, 0.671);
$sh-text: 0px 2px 3px rgb(85, 84, 84);
