@import '../../scss/config';
@import '../../scss/mixins';

//mobile first
.employee {
  width: 100%;
}
.employee__main {
  width: 80vw;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .employee__image {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
    vertical-align: top;
  }
  .employee__content {
    padding: 0 2rem 2rem 2rem;
  }
  .employee__btn-div {
    display: flex;
    padding-left: 70%;
    justify-content: flex-end;
    font-size: $t-small;
    margin-top: 5%;
    width: 100%;
    padding-bottom: 1rem;
  }
  .employee__text {
    padding-top: 1rem;
    margin: 0;
    font-size: $t-medium;
    font-weight: bold;
  }
  .employee-text-type {
    font-size: $t-medium;
  }
  .employee__about {
    font-size: $t-small;
    font-weight: bold;
  }
  .employee-about-desc {
    font-size: $t-small;
  }
  .employee-text-techs {
    font-size: $t-medium;
    font-weight: bold;
  }

  .employee__icons {
    &--icons {
      height: 4rem;
      width: 4rem;
      padding-right: 1rem;
    }
  }
}

@include breakpoint(800px) {
  .employee__main {
    flex-direction: row;
    align-items: flex-start;
    min-height: 100vh;
  }
}
@media screen and (max-width: 768px) {
  .employee__main {
    margin: 2rem auto;
    margin-bottom: 8rem;
    .employee__image {
      width: 120px;
      margin: 0 auto;
      padding-bottom: 1rem;
    }
    .employee__content {
      padding: 0;
    }
    .employee__text {
      padding-top: 0;
      font-size: $t-medium;
      font-weight: bold;
    }
    .employee__about {
      font-size: $t-medium;
    }
    .employee-about-desc {
      font-size: $t-medium;
    }
    .employee-text-techs {
      font-size: $t-medium;
      font-weight: bold;
    }
    .employee__icons {
      &--icons {
        height: 2.5rem;
        width: 2.5rem;
        padding-right: 1rem;
      }
    }
    .employee__btn-div {
      font-size: $t-medium;
    }
  }
}
@media screen and (max-width: 600px) {
  .employee__main {
    width: 90vw;
    .employee__image {
      width: 100px;
    }
  }
}
