// Breakpoints
@mixin breakpoint($size, $max: false) {
  @if max==true {
    @media screen and (max-width: '#{$size}') {
      @content;
    }
  } @else {
    @media screen and (min-width: '#{$size}') {
      @content;
    }
  }
}
 
@mixin pageBase {
  width: 80vw;
  margin: 15px auto;
}
