@import '../../scss/config';

.select {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  border: 1.5px solid $dark;
  border-radius: $r-small;
  margin: 10px 0px;
  font-size: $t-small;
  background-color: $white;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .select {
    font-size: $t-big;
  }
}

@media screen and (max-width: 600px) {
  .select {
    font-size: $t-xl;
  }
}
