@import '../../scss/config';

.select {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  border: 1.5px solid $primary;
  border-radius: $r-small;
  margin: 10px 0px;
  font-size: $t-m-s;
  color: $black;
  background-color: $white;
  box-sizing: border-box;
}
